src/data/__pycache__/
src/ui/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
